{% include 'sitio/cabecera.html' %}


<div class="row">
    {% for producto in productos %}
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="/img/{{ producto[2]}}" alt="Title">
            <div class="card-body">
                <h4 class="card-title">{{ producto[1]}}</h4>
                <h5 class="card-title">{{ producto[3]}}</h5>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="/adm" role="button">Comprar</a>
                </p>
            </div>
        </div>
    </div>

    {% endfor %}
    
     
</div>

{% include 'sitio/pie.html' %}