{% include 'admin/cabecera.html' %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <div class="card-header">
                    Datos de los productos
                </div>
                <div class="card-body">
                    
                    <form action="/admin/recibos/guardar" method="post"  enctype="multipart/form-data">
                        <div class="mb-2">
                          <label class="form-label" for="txtNombrerecibo">Nombre</label>
                          <input placeholder="Por favor ingrese el nombre" class="form-control" name="txtNombrerecibo" type="text"  id="txtNombrerecibo" aria-describedby="helpId" >
                        </div>
                        
                        <div class="mb-2">
                          <label class="form-label" for="txtCC">CC.</label>
                          <input placeholder="Por favor ingrese el CC" class="form-control" name="txtCC" type="number" id="txtCC" aria-describedby="helpId" >
                        </div>
              
                        <div class="mb-2">
                          <label class="form-label" for="txtTel">Tel.</label>
                          <input placeholder="Por favor ingrese el telefono" class="form-control" name="txtTel" type="number" id="txtTel" aria-describedby="helpId" >
                        </div>
              
                        <div class="mb-2">
                          <label class="form-label" for="txtEquipo">Equipo telefonico</label>
                          <input placeholder="Por favor ingrese el equipo del cliente" class="form-control" name="txtEquipo" type="text" id="txtEquipo" aria-describedby="helpId" >
                        </div>
              
                        <div class="mb-2">
                          <label class="form-label" for="txtImei">Imei</label>
                          <input placeholder="Por favor ingrese el imei del equipo" class="form-control" name="txtImei" type="text" id="txtImei" aria-describedby="helpId" >
                        </div>
              
                        <div class="mb-2">
                          <label class="form-label" for="txtProcedimiento">Procedimiento</label>
                          <input placeholder="Por favor ingrese el procedimiento a realizar" class="form-control" name="txtProcedimiento" type="text" id="txtProcedimiento" aria-describedby="helpId" >
                        </div>
                        
                        <div class="mb-2">
                          <label class="form-label" for="txtValor">Valor</label>
                          <input placeholder="Por favor ingrese el valor del trabajo" class="form-control" name="txtValor" type="number" id="txtValor" aria-describedby="helpId" >
                        </div>
              
                        <div class="mb-2">
                          <label class="form-label" for="txtAbono">Abono</label>
                          <input placeholder="Por favor ingrese el abono realizado" class="form-control" name="txtAbono" type="number" id="txtAbono" aria-describedby="helpId" >
                        </div>
              
                        <div class="mb-3">
                          <label class="form-label" for="txtClave">Clave</label>
                          <input placeholder="Por favor ingrese la clave" class="form-control" name="txtClave" type="texto" id="txtClave" aria-describedby="helpId" >
                        </div>

                        <button type="submit" class="btn btn-primary">Agregar</button>
              
                    </form>


                </div>
                <div class="card-footer text-muted">
        
                </div>
            </div>   
        </div>

        <div class="col-md-8">
            
            <div class="table-responsive">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">CC</th>
                            <th scope="col">Tel.</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Imei</th>
                            <th scope="col">Procedimiento</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Abono</th>
                            <th scope="col">Clave</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recibo in recibos %}
                        <tr class="">
                            <td>{{ recibo[0] }}</td>
                            <td>{{ recibo[1] }}</td>
                            <td>{{ recibo[2] }}</td>
                            <td>{{ recibo[3] }}</td>
                            <td>{{ recibo[4] }}</td>
                            <td>{{ recibo[5] }}</td>
                            <td>{{ recibo[6] }}</td>
                            <td>{{ recibo[7] }}</td>
                            <td>{{ recibo[8] }}</td>
                            <td>{{ recibo[9] }}</td>
                            <td>{{ recibo[10] }}</td>
                            <td>
                              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-success">Editar</button>
                                <div class="btn-group" role="group">
                                  <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                    <form action="/admin/recibos/editar" method="post">
                                      <input value="{{ recibo[0] }}" type="hidden" name="txtID" id="txtID">
                                      <input value="{{ recibo[2] }}" type="text" name="txtNombrerecibo" id="txtNombrerecibo">
                                      <input value="{{ recibo[3] }}" type="text" name="txtCC" id="txtCC">
                                      <input value="{{ recibo[4] }}" type="text" name="txtTel" id="txtTel">
                                      <input value="{{ recibo[5] }}" type="text" name="txtEquipo" id="txtEquipo">
                                      <input value="{{ recibo[6] }}" type="text" name="txtImei" id="txtImei">
                                      <input value="{{ recibo[7] }}" type="text" name="txtProcedimiento" id="txtProcedimiento">
                                      <input value="{{ recibo[8] }}" type="text" name="txtValor" id="txtValor">
                                      <input value="{{ recibo[9] }}" type="text" name="txtAbono" id="txtAbono">
                                      <input value="{{ recibo[10] }}" type="text" name="txtClave" id="txtClave">
                                          <button type="submit" class="btn btn-success">Editar</button>
                                      </form>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                                <form action="/admin/recibos/borrar" method="post">
                                <input value="{{ recibo[0] }}" type="hidden" name="txtID" id="txtID">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                    
                                </form>
                            </td>
                          <td>
                            <form action="/admin/recibos/imprimir" method="post">
                                <input value="{{ recibo[0] }}" type="hidden" name="txtID" id="txtID">
                                <input value="{{ recibo[2] }}" type="hidden" name="txtNombrerecibo" id="txtNombrerecibo">
                                <input value="{{ recibo[3] }}" type="hidden" name="txtCC" id="txtCC">
                                <input value="{{ recibo[4] }}" type="hidden" name="txtTel" id="txtTel">
                                <input value="{{ recibo[5] }}" type="hidden" name="txtEquipo" id="txtEquipo">
                                <input value="{{ recibo[6] }}" type="hidden" name="txtImei" id="txtImei">
                                <input value="{{ recibo[7] }}" type="hidden" name="txtProcedimiento" id="txtProcedimiento">
                                <input value="{{ recibo[8] }}" type="hidden" name="txtValor" id="txtValor">
                                <input value="{{ recibo[9] }}" type="hidden" name="txtAbono" id="txtAbono">
                                <input value="{{ recibo[10] }}" type="hidden" name="txtClave" id="txtClave">
                                <button type="submit" class="btn btn-primary">Imprimir</button>
                            </form>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            


        </div>

        
        
    </div>
</div>

{% include 'admin/pie.html' %}